<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contactus</title>
</head>
<body>
    <form action="/sucess" method="POST">
        <div>
            <label for="name">Enter Your Name Here</label>
            <input id="name" type="text" name="name">
        </div>
        <div>
            <label for="email">Enter Your Mail Here</label>
            <input id="email" type="email" name="email">
        </div>
        
        <button type="submit">Submit</button>
        
    </form>
</body>
</html>